.mainPage{
    background-color: #E2AE63;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.titleWords{
    font-size: 80px;
}

.leftPage{
    background-image: url("../image/basketball.jpg");
    /*https://huaban.com/pins/1582137790*/
    width: 300px;
    z-index: -1;
    height: 100%;
    float: left;
    background-repeat: repeat-y;
    background-position: center;
}

.main-page{
    /*width: 100%;*/
    height: 100%;
    display: grid;
    /*justify-items: center;*/
    align-items: center;
    background-color: #E2AE63;;
    /*border-radius: 7px;*/
    box-shadow: 0px 0px 5px 2px black;
}

.alert{
    align-self: flex-start;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    /*border: 1px solid transparent;*/
    border-radius: .25rem;
    box-sizing: border-box;
}

.login-header{
    justify-items: center;
    align-items: center;
    height: 20%;
}

.reset-block-with-alert{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -300px;
    width: 50%;
    height: 60%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #ded2be;;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
}

.reset-block{
    margin-left: auto;
    margin-right: auto;
    /*position: relative;*/
    /*top: -300px;*/
    width: 50%;
    height: 60%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #ded2be;;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
}

.reset-form {
    /*align-self: flex-start;*/
    display: grid;
    justify-items: center;
    align-items: center;
}

.form-field::placeholder {
    color: #969595;
}

.form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

.form-submit {
    width: 100%;
    /*width: 100%;*/
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}

.login-block {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -300px;
    width: 50%;
    height: 60%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #ded2be;;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
}

.login-button {
    height: 100%;
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    font-size : 20px;
}