.mainPage{
    background-color: #dfdcb8;
    height: 100%;
    margin-left: 300px;
    margin-right: 0;
}

.titleWords{
    font-size: 80px;
}

.leftPage{
    background-image: url("../image/basketball.jpg");
    /*https://huaban.com/pins/1582137790*/
    width: 300px;
    height: 100%;
    float: left;
    background-repeat: repeat-y;
    background-position: center;

}

.commentLine{
    /*background-image: url("../image/home_background15.png");*/
    /*background-color: #dfdcb8;*/
    width: 100%;
    float: right;
    margin: 10px;
    height: 150px;
    text-align: left;
    font-size: 25px;
    box-shadow:3px 3px 10px #000;
    border-radius: 25px;
}

.commentText {
    /*margin: 20px auto;*/
    /*text-align: center;*/
    /*font-family: 'Droid Sans', sans-serif;*/
    /*font-size: 30px;*/
    /*color: #DCDCDC;*/

}
.panelBody{
    height: 80%;
    overflow-y:scroll;
    border: 5px inset;

}
.mainTitle{
    height: 100px;
    text-align: center;
    font-size: 40px;
    font-family: "American Typewriter", serif;

}
#box{
    border: 1px  #000000;
    width: 90%;
    margin: 0 auto;
}
.spLine{
    position: relative;
    width: 80%;
    margin:0 auto;
    height: 4px;
    background: #333 linear-gradient(to right, red, #333, rgb(9, 206, 91));
    text-align:center;
}
